<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Desafio Konsi</title>
</head>
<body class="bg-gray-50">
  <div class="container mx-auto py-5">
    <h1 class="text-2xl text-center mb-4">Desafio Konsi</h1>
    <form
      class="bg-gray-200 flex items-center rounded border border-gray-300 mb-4"
      method="get"
    >
      <input
        class="w-full bg-gray-100 py-2 px-4 border-r"
        type="search"
        name="cpf"
        placeholder="CPF (000.000.000-00)"
        inputmode="numeric"
        required
      />
      <button
        class="py-2 px-4 transition hover:bg-gray-300"
        type="submit"
      >
        Pesquisar
      </button>
    </form>

    <div
      class="bg-red-400 border border-red-500 px-4 py-2 rounded hidden"
      id="error"
    ></div>

    <div id="success"></div>
  </div>

  <script>
    function isCpf(string) {
      const cpfRegex = /^\d{3}\.\d{3}\.\d{3}-\d{2}$/;
      return cpfRegex.test(string);
    }

    async function handleSubmit(event) {
      event.preventDefault();

      successContainer.innerHTML = "";
      errorContainer.classList.add("hidden");

      const formData = new FormData(event.target);
      const cpf = formData.get("cpf");

      if (!isCpf(cpf)) {
        errorContainer.classList.remove("hidden");
        errorContainer.innerText = "CPF inválido! Dica: siga o formato 000.000.000-00";
        return;
      }

      const response = await fetch(`/api/extrato-clube/v1/${cpf}`);
      const contentType = response.headers.get("content-type");
      const json = contentType ? contentType.indexOf("json") !== -1 : false;
      const data = json ? await response.json() : null;

      if (!response.ok) {
        if (typeof data?.message === "string") {
          errorContainer.classList.remove("hidden");
          errorContainer.innerText = data.message;
          return;
        }

        errorContainer.classList.remove("hidden");
        errorContainer.innerText = `Unexpected error: ${response.status}`;
        return;
      }

      const h2 = document.createElement("h2");
      h2.classList.add("text-xl", "mb-2");
      h2.innerText = "Números dos benefícios";
      successContainer.appendChild(h2);

      const ul = document.createElement("ul");
      ul.classList.add("list-disc", "pl-5");
      successContainer.appendChild(ul);

      const listFormat = new Intl.ListFormat("pt-br");

      for (const hit of data) {
        const li = document.createElement("li");
        li.innerText = listFormat.format(hit.nbs);
        ul.appendChild(li);
      }
    }

    function handleInput(event) {
      this.value = event.target.value
        .replace(/\D/g, "")
        .split("")
        .reduce((formatted, char, i) => {
          if (i < 3) return formatted + char;
          if (i === 3) return formatted + "." + char;
          if (i < 6) return formatted + char;
          if (i === 6) return formatted + "." + char;
          if (i < 9) return formatted + char;
          if (i === 9) return formatted + "-" + char;
          if (i === 10) return formatted + char;
          return formatted;
        });
    }

    const errorContainer = window.document.querySelector("#error");
    const successContainer = window.document.querySelector("#success");

    window
      .document
      .querySelector("input[name=cpf]")
      .addEventListener("input", handleInput);

    window
      .document
      .querySelector("form")
      .addEventListener("submit", handleSubmit);
  </script>
</body>
</html>
